.header {
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2100;
	display: flex;
	align-items: center;
	padding: 30px;
	background-color: $color-white;

	@media (min-width:1140px) {
		margin-bottom: 40px;
		justify-content: space-between;
	}

	&__logo {
		display: block;
		width: 80px;
		height: 80px;

		@media (min-width: 1140px) {
		width: 150px;
		height: 150px;
		}

		transition: $duration-normal;
	}

	&__menu {
		@media(min-width:1140px) {
			position: relative;
			display: block;
			visibility: visible;
			opacity: 1;
			height:100px;
			width: 420px;
			overflow: visible;
			background-color:transparent;
			margin-bottom: 160px;
			transform: unset;
			img {
				display:none;
			}
		}

		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow: hidden;
		overflow-y: auto;
		margin: 0;
		//margin-top: 84px;
		padding: 15px 5px;
		width: 100vw;
		//height: 100vh;
		// stylelint-disable-next-line
		//height: calc(var(--vh) - 84px);
		color: $color-black;
		//background-color: rgba($color-black, 0.1);
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: $duration-normal;
		-webkit-overflow-scrolling: touch;

		@include active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}

	&__list {
		width: 100%;
		text-align: center;
		margin-top: 30px;
		@media (min-width:1140px) {
			background-color:transparent;
			display: flex;
		}
	}

	&__link {


		position: relative;
		display: flex;
		align-items: center;
		justify-content: left;
		margin: 0 auto;
		padding: 10px 30px;
		min-height: 85px;


		// font-weight: bold;
		// font-size: 26px;
		// line-height: 31px;

		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 21px;

		//text-align: left;
		color: rgba($color-black, 0.7);
		background-color: $color-white;

		// &:not(:last-child) {
		// 	border-bottom: 1px solid $color-gray;
		// }

		// &:first-child {
		// 	border-top: 1px solid $color-gray;
		// }

		@include hover {
			color: $color-black;
		}

		@include active {
			color: $color-black;
		}
	}

	&__burger {
		@media (min-width: 1140px) {
			display:none;
		}
		z-index: 100;
		flex-direction: column;
		margin: (-6.5px / 2) 0;
		margin-left: auto;
		width: 39px;
		color: $color-black;

		span {
			display: block;
			margin: 6.5px 0;
			width: 39px;
			height: 2px;
			background-color: currentColor;
			transition: $duration-normal;
		}

		@include active {
			span {
				&:first-child {
					transform: translate(0, 8px) rotate(-45deg);
				}

				&:last-child {
					transform: translate(0, -6px) rotate(45deg);
				}
			}
		}
	}
}
