.skills {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	h2 {
		width: 100%;
	}



	&__data-box {
		margin-bottom:40px;
		width:330px;
		@media (min-width: 1140px) {
			width:250px;
		}

	}

}




