-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#experience',
					name: 'Резюме'
				},
				{
					url: '#summary',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		jobs: [
				{
					date: 'Июль 2019',
					position: 'Freelance Designer',
					location: 'Netherlands, Worldwide' ,
					profileIcons : ['images/interfacedesign.png'],
					description: 'Available for a project or job in UX/UI, Visual and Product design.',
					links: {
						'Commercial tryouts' : 'OZ.by',
						'Personal projects' : 'OZ.by',
						}
				},

				{
					date: 'Январь 2017 - Сентябрь 2018',
					position: 'Digital Designer',
					location: 'Digital agency in Minsk, Belarus' ,
					profileIcons : ['images/graphicdesign.png','images/CGArtist.png'],
					description: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentationfor clients and indoor purposes.',
					companyLogo: ['images/jcs.png'],
					company: 'J Creative Solutions',
					links: {
						'Agency projects' : 'OZ.by',
						}
				},


				{
					date: 'Март 2014 - Февраль 2017',
					position: 'SEO Specialist → Lead SEO Specialist',
					location: 'Online bookstore in Minsk, Belarus' ,
					profileIcons : ['images/seoSpecialist.png','images/graphicdesign.png'],
					description: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
					companyLogo: ['images/ozby.png'],
					company: 'OZ.by',
					links: {
						'Annual company report 2016' : 'OZ.by',
					     	},

				},



				{
					date: 'Август 2012 - Ноябрь 2013',
					position: 'Content Specialist',
					location: 'E-commerce store in Minsk, Belarus' ,
					profileIcons : ['images/seoSpecialist.png'],
					description: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
					companyLogo: ['images/21vek.png'],
					company: '21vek.by',
					links: null,

				},


				{
					date: 'Август 2011 - Ноябрь 2014',
					position: 'Software Support Engineer',
					location: 'Microelectronics factory in Minsk, Belarus' ,
					profileIcons : ['images/InfTechSoft.png'],
					description: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
					companyLogo: ['images/integral.png'],
					company: 'Integral',
					links: null,

				},
		],
		education: [
			{
				icons : ['images/integral.png'],
				title : 'Interface Design: Web & Mobile',
				company : 'IT-Academy, 2020',
			},


			{
				icons : ['images/fundamentalsUsability.png'],
				title : 'Skillshare, Oct 2018',
				company : 'Fundamentals of Usability',
			},


			{
				icons : ['images/CGArtist.png'],
				title : 'Polygon CG School, May-Sep 2017',
				company : 'CG Artist',
			},

			{
				icons : ['images/graphicdesign.png'],
				title : 'Belarusian State Academy of Arts, 2015 - 2017 Postgraduate Diploma',
				company : 'Graphic Design',
			},

			{
				icons : ['images/seoSpecialist.png'],
				title : 'ARTOX Media, Jun-Aug 2012',
				company : 'SEO Specialist',
			},

			{
				icons : ['images/InfTechSoft.png'],
				title : 'Information Technology Software',
				company : 'Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 Bachelor’s degree',
			},

		],

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
